#discovery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#graphics{
    width: auto;
    height: 0.3vh;
}

@media screen and (min-width: 750px) {
    #graphics{
        width:"750px"; 
        height:"390px";
    }
}