.tecIOT {
  width: 100%;
  background-color: #fff;
  color: #747474;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0 2rem;
  justify-content: space-evenly;
}

.tecIOT h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #0B597D;
}

.tecIOT h3 {
  color: #0B597D;
}

.tecIOT-text {
  padding: 0 2rem 1rem 2rem;
  line-height: 1.5rem;
}

.tecIOT-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecIOT-column1 {
  width: 100%;
  height: 15rem;
  background: url('../../assets/pic09.png');
}

/* Desktop */
@media screen and (min-width: 40rem) {
  .tecIOT {
    flex-direction: row;
    text-align: justify;
    padding: 6rem 0 3rem;
    justify-content: space-evenly;
  }

  .tecIOT-column1 {
    width: 35%;
    margin-right: 3rem;
    background: url('../../assets/pic09.png');
    background-size: cover;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 25rem;
  }

  .tecIOT-column2 {
    margin: auto 50px auto 0;
    width: 40%;
  }

  .tecIOT-button {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 2rem;
  }
}
